$primary-color: #e61d00;

body {
    font-family: "Work Sans", sans-serif;
    color: $primary-color;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

    &.is-active {
        transform: translateX(0);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    z-index: 999;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}
#vangogh {
    background-color: red;
    width: 100%;
#natavia{
    .navbar-item{
        &:nth-of-type(1){
            letter-spacing: normal;
            white-space: nowrap;
            box-sizing: border-box;
            font-family: Work Sans,sans-serif;
            margin: 4px 33px 0 0!important;
            padding: 0!important;
            font-weight: 700!important;
            font-size: 20px;
            color: #fff;
            position: relative;
            .material-icons{
                position: absolute;
                font-family: "Material Icons", sans-serif !important;
                font-size: 19px;
                left: -25px;
                top: 10px;
            }
        }
        &:nth-of-type(2){

            letter-spacing: normal;
        span{
            font-family: "Material Icons", sans-serif !important;
            font-size: 19px;
            color:white;
            &:hover{
        
            }
        }
        }    
    }      
    }
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }